<?xml version="1.0" encoding="UTF-8"?>
<!-- slf4j日志配置文件 -->
<configuration debug="true" scan="true" scanPeriod="30 seconds">

    <contextName>${HOSTNAME}</contextName>

    <!-- 设置日志输出根目录 -->
    <property name="log.dir" value="${catalina.base}/logs"/>

    <property name="encoding" value="UTF-8"/>
    <property name="normal-pattern"
              value="%d{yyyy-MM-dd.HH:mm:ss:SSS} %-5level [%thread] %logger.%M:%L [%X{QTRACER}] %msg%n"/>
    <property name="plain-pattern" value="%d{yyyy-MM-dd.HH:mm:ss} %msg%n"/>
    <property name="stdout-pattern" value="%.-5level%d{yyyy-MM-dd HH:mm:ss} %-40logger{0} |----- %msg%n"/>

    <!-- log file default -->
    <appender name="main"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.dir}/main.log</File>
        <prudent>false</prudent>
        <Append>true</Append>
        <encoder>
            <pattern>${normal-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/main.%d{yyyy-MM-dd-HH}.log
            </fileNamePattern>
            <maxHistory>8</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- log file error -->
    <appender name="error"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <File>${log.dir}/error.log</File>
        <prudent>false</prudent>
        <Append>true</Append>
        <encoder>
            <pattern>${normal-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/error.%d{yyyy-MM-dd-HH}.log
            </fileNamePattern>
            <maxHistory>8</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="main"/>
        <appender-ref ref="error"/>
    </root>

</configuration>
